<div>
	<div class="container">
		<div class="row">
			<div id="chatwith-user-list" class="col-lg-3 col-sm-4 col-md-4 chatwith-user-list"
				style="max-height:85vh; padding-right: 20px;">
				<h2>Chats</h2>
				<% if(typeof chatsList != 'undefined') { %>
					<% chatsList.forEach(chatListUser => { %>
					<user-card name="<%= chatListUser.fullname %>" username="<%= chatListUser.username %>"
						avatar="https://randomuser.me/api/portraits/men/1.jpg">
					</user-card>
					<% }); %>
				<% } %>
			</div>
			<div id="chat-window" class="col-lg-9 col-sm-8 col-md-8">
				
				

				<div class="border rounded shadow-sm d-flex bg-dark text-white">
					<div class="row d-flex" style="margin-left: 0px;padding: 9px;">
						<div class="col-1 col-sm-1 col-lg-1 col-xl-2 d-flex flex-row justify-content-center align-items-center"
							style="margin-left: 0px;">
							<img src="https://randomuser.me/api/portraits/men/1.jpg"
								class="align-self-center chatwith-user-pic"
								style="width: 35px;height: 35px;margin: 0px;margin-left: 0px;" />
						</div>
						<a id="chatWithUser-link" href="/profile/<%= chatWithUser.username %>" style="color: inherit;text-decoration: none;">
							<div class="col-10 col-sm-10 col-lg-10 col-xl-10 d-flex flex-column"
								style="margin-left: 0px;width:max-content;">
								<span class="chatwith-user-fullname" style="width:max-content;">
									<% if(typeof chatWithUser != 'undefined') { %>
										<%= chatWithUser.first_name %> <%= chatWithUser.last_name %>
									<% } %>
								</span>
								<small class="chatwith-username"
								style="margin-left: 5px;">
									<% if(typeof chatWithUser != 'undefined') { %>
										@<%= chatWithUser.username %>
									<% } %>
								</small>
							</div>
						</a>
					</div>
					<i class="icon ion-android-more-vertical align-self-center ml-auto"
						style="font-size: 36px;margin-right: 21px;color: #eee;"></i>
				</div>
				<div>
					<div class="border rounded d-flex flex-column bg-light" id="msg-list"
						style="min-height: 470px;max-height: 75vh;padding: 0px;">
						<small id="beginning" class="align-self-center">Beginning</small>
						
					</div>
					<form id="chat-form" action="/chat">
						<div class="d-flex flex-row align-items-center">
							<input id="msg-content" class="flex-fill" type="text" autocomplete="off"
								style="margin: 10px;" /><button class="btn d-flex align-self-end ml-auto" type="submit"
								style="margin: 10px; background-color: #05f140;">
								<i class="fa fa-send-o"></i>
							</button>
						</div>
					</form>
				</div>

				
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/userCard.js"></script>
<script src="/assets/js/chatMessage.js"></script>
<script src="/assets/js/chat.js"></script>