<div class="container">
	<div class="row flex-row">
		<h1 class="justify-content-center ml-auto"><%= data.post.title %></h1>
		<p class="ml-auto mr-4"><%= data.post.time_of_creation %></p>
	</div>
	
	<p class="text-success"><a style="color:inherit;text-decoration: none;" href="/profile/<%= data.author %>">@<%= data.author %></a></p>
	<% if(typeof data.subforum_name != 'undefined') { %>
		<p><%= data.subforum_name %></p>
	<% } %>
	<% if(typeof data.categories != 'undefined') { %>
		<h6>
			<% data.categories.forEach(category => { %>
				<span class="badge-pill badge-primary"><%- category.category_name %></span>
			<% }); %>
		</h6>
	<% } %>
	<div class="container"><%- data.post.content %></div>

</div>